.container2 {
    display: flex;
    flex-wrap: wrap;
}

.container2 > div {
    flex-grow: 1;
    text-align: center;
    font-size: 1.3rem;
}

.container2 > div:nth-child(1),
.container2 > div:nth-child(2),
.container2 > div:nth-child(5) {
    flex-basis: 1200px;
}

.container2 > div:nth-child(3),
.container2 > div:nth-child(4) {
    flex-basis: 300px;
}

.container2 > div:nth-child(1) {
    background: mediumseagreen;

}

.container2 > div:nth-child(2) {
    background: greenyellow;
}

.container2 > div:nth-child(3) {
    background: deeppink;
}

.container2 > div:nth-child(4) {
    background: yellow;
}

.container2 > div:nth-child(5) {
    background: blue;
    color: white;
}